.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  align-content: center;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-header {
  height: 30%;
  background: #007feee3;
  color: white;
  text-align: center;
}

.card-header p {
  font-size: 20px;
}
.container {
  padding: 4px 16px;
}
